<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">

        <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <style>
            .nego-logo-show {
                width: 250px;
            }
            .listado-servicios dd {
                padding-left: 15px;
            }
            .info-nego-citas {
                position: fixed !important;
                right: 0 !important;
            }
            .content {
                margin-top: 80px;
            }
            .navbar-light .navbar-brand{
                color: rgba(21,84,86,.9);
            }
            .navbar{
                background: rgb(114,196,185);
                background: linear-gradient(90deg, rgba(114,196,185,1) 0%, rgba(166,241,239,0.8) 20%, rgba(117,199,206,1) 100%);
            }
            body{
                color: rgba(21,84,86,.9);
                font-family: 'Titillium Web', sans-serif;
                background-color: rgba(179, 240, 239, 0.2);
            }
            .carousel{
                -webkit-box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
                -moz-box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
                box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
            }
            .carousel-indicators li{
                width: 8px !important;
                height: 8px !important;
            }
            .carousel-inner{
                border-radius: 5px;
            }
            .card{
                min-height: 350px !important;
                -webkit-box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
                -moz-box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
                box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
            }
            .navbar-light .navbar-nav .nav-link{
                color: white !important;
            }
            .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
                color: rgba(21,84,86,.9) !important;
            }
            .form-error>ul {
                list-style: none;
                color: red;
                font-style: italic;
                margin-left: -20px;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{{path('homepage')}}"><strong>FreshMeApp</strong></a>

                    <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{path('homepage')}}">Inicio

                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sobre nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('fos_user_registration_register')}}">Regístrate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('fos_user_security_login')}}">LogIn</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                {% block body %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </div>
        </div>
    </body>
</html></html>
