{% extends 'public.html.twig' %}
{% block title %}Fresh Me App
{% endblock %}
{% block body %}
    <section>
        <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img alt="First slide" class="d-block w-100" src="https://media.istockphoto.com/photos/relaxation-starts-now-picture-id1063599458?k=6&m=1063599458&s=612x612&w=0&h=TwRmvJTluqHuS84xMVw09ufd7fijmAxwHlJOZwHUSjQ=">


                </div>
                <div class="carousel-item">
                    <img alt="Second slide" class="d-block w-100" src="https://d20ga1agp72kf9.cloudfront.net/bewe/blog/2017-10-como-calcular-el-precio-de-tus-servicios-de-belleza-y-peluqueria-full.jpg">


                </div>
                <div class="carousel-item">
                    <img alt="Third slide" class="d-block w-100" src="http://www.biogenestetica.com/wp-content/uploads/2016/08/centro-de-Salud_Estética_y_Belleza_en_Lanzarote-01.jpg">


                </div>
            </div>
            <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class="py-5 text-center">
        <div class="container mt-4">
            <h1 class="text-center mb-4 p-4 text-secondary">Nuestra categorìas</h1>
            <div class="row">
                <div class="card-columns">
                    {% for tipo in tipos %}
                        <div class="card shadow border-0">
                            <img alt="Card image cap" class="card-img-top" src="/uploads/images/{{tipo.imagen}}">
                            <div class="card-body">
                                <h5 class="card-title">{{tipo.nombre}}</h5>
                                <p class="text-justify small">{{tipo.descripcion}}</p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 text-center">
        <div class="container">
            <h2 class="text-center">Luckmoshy`s Services</h2>
            <p class="text-muted mb-5 text-center">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-3">
                    <i class="fa fa-5x fa-user"></i>
                    <h6>Ex cupidatat eu</h6>
                    <p class="text-muted">Ex cupidatat eu officia consequat incididunt labore occaecat ut veniam labore et cillum id et.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <i class="fa fa-5x fa-area-chart"></i>
                    <h6>Tempor aute occaecat</h6>
                    <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <i class="fa-5x fa fa-asl-interpreting"></i>
                    <h6>Voluptate ex irure</h6>
                    <p class="text-muted">Voluptate ex irure ipsum ipsum ullamco ipsum reprehenderit non ut mollit commodo.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <i class="fa-5x fa fa-group"></i>


                    <h6>Tempor commodo</h6>
                    <p class="text-muted">Tempor commodo nostrud ex Lorem occaecat duis occaecat minim.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <i class="fa-5x fa fa-venus-mars"></i>


                    <h6>Et fugiat sint occaecat</h6>
                    <p class="text-muted">Et fugiat sint occaecat voluptate incididunt anim nostrud ea cillum cillum consequat.</p>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <i class="fa-5x fa fa-weixin"></i>


                    <h6>Et labore tempor et</h6>
                    <p class="text-muted">Et labore tempor et adipisicing dolor.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px / 1.5 sans-serif;
        }
        h1,
        h2 {
            line-height: 1.2;
            margin: 0 0 0.5em;
        }
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }
        p {
            margin: 0 0 1em;
        }
        a {
            color: #0000F0;
        }
        a:hover {
            text-decoration: none;
        }
        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }
        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }
        #container {
            padding: 2em;
        }
        #welcome,
        #status {
            margin-bottom: 2em;
        }
        #welcome h1 span {
            display: block;
            font-size: 75%;
        }
        #icon-status,
        #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }
        #icon-book {
            display: none;
        }

        @media(min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }
            #icon-book {
                display: inline-block;
            }
            #status a,
            #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s 0.2s forwards;
                animation: fade-in 1s 0.2s forwards;
            }
        }
    </style>
{% endblock %}
