{% extends 'base.html.twig' %}
{% block accion %}
    Catálogos de FreshMeApp
{% endblock %}
{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="http://nashio.github.io/star-rating-svg/src/css/star-rating-svg.css"/>
    <style>
        .mini {
            max-width: 100px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="accordion" id="accordion">
            <div class="card">
                <div class="card-header" id="headTipos">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTipos" aria-expanded="true" aria-controls="collapseTipos">
                            Tipos de Negocios
                        </button>
                    </h2>
                </div>

                <div id="collapseTipos" class="collapse show" aria-labelledby="headTipos" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Imagen</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tipo in tipos %}
                                    <tr>
                                        <td width="15%">{{ tipo.nombre }}</td>
                                        <td width="30%" class="text-justify pr-4">{{ tipo.descripcion }}</td>
                                        <td><img class="mini" src="{{ asset('uploads/images/' ~ tipo.imagen) }}"/></td>
                                        <td>
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-sm btn-secondary {% if tipo.activo == true %}active{% endif %}">
                                                    <input type="radio" name="options" data-id="{{ tipo.id }}" data-value="1" data-object="tipo" autocomplete="off">
                                                    Activo
                                                </label>
                                                <label class="btn btn-sm btn-secondary {% if tipo.activo == false %}active{% endif %}">
                                                    <input type="radio" name="options" data-id="{{ tipo.id }}" data-value="0" data-object="tipo" autocomplete="off">Inactivo
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{{ path('tipo_edit',{'id':tipo.id}) }}" class="btn btn-sm btn-success btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </span>
                                                <span class="text">Editar</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr/>
                        <div>
                            <a href="{{ path('tipo_new') }}" class="btn btn-sm btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Agregar tipo de Negocio</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headNegocios">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNegocios" aria-expanded="false" aria-controls="collapseNegocios">
                            Negocios asociados
                        </button>
                    </h2>
                </div>
                <div id="collapseNegocios" class="collapse" aria-labelledby="headNegocios" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Imagen</th>
                                    <th>Ubicación</th>
                                    <th>Teléfonos</th>
                                    <th>Horario</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for negocio in negocios %}
                                    <tr>
                                        <td>{{ negocio.tipo }}</td>
                                        <td>{{ negocio.nombre }}<br>
                                            <div class="d-flex align-content-center">
                                                <div class="my-rating-4" data-rating="{{ negocio.calificacion }}"></div>
                                                <span class="ml-2 pt-1 text-gray-500">{{ negocio.calificacion | number_format(1, '.', ',') }}</span>
                                            </div>
                                        </td>
                                        <td>{{ negocio.descripcion }}</td>
                                        <td><img class="mini" src="{{ asset('uploads/images/' ~ negocio.logo) }}"/></td>
                                        <td>{{ negocio.principal ~' '~ negocio.numeracion }}<br>
                                            y
                                            {{ negocio.secundaria }}
                                        </td>
                                        <td>{{ negocio.telefonoFijo ~'/'~ negocio.telefonoMovil}}</td>
                                        <td>{{ negocio.horarioInicio ~' a '~ negocio.horarioFin }}</td>
                                        <td>
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-sm btn-secondary {% if negocio.activo == true %}active{% endif %}">
                                                    <input type="radio" name="options" data-id="{{ negocio.id }}" data-value="1" data-object="negocio" autocomplete="off">
                                                    Habilitado
                                                </label>
                                                <label class="btn btn-sm btn-secondary {% if negocio.activo == false %}active{% endif %}">
                                                    <input type="radio" name="options" data-id="{{ negocio.id }}" data-value="0" data-object="negocio" autocomplete="off">Deshabilitado
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/alertify.min.js"></script>
    <script src="http://nashio.github.io/star-rating-svg/src/jquery.star-rating-svg.js"></script>
    <script>
        $(document).ready(function () {
            $(".my-rating-4").starRating({
                readOnly: true,
                starSize: 20
            });
            $('label.btn').on('click', function () {
                $i = $(this).find('input');
                const txt = $i.data('value');
                const id = $i.data('id');
                const objeto = $i.data('object');
                $.ajax({
                    method: "PUT",
                    url: "cita/confirmar/"+objeto,
                    data: JSON.stringify(
                        {id: id, value: txt}
                    ),
                    dataType: "json"
                }).done(function (msg) {
                    alertify.alert('Modificado con éxito').set({title: 'Notificación'});
                }).fail(function () {
                    alertify.alert('Hubo un error, intetelo más tarde').set({title: 'Error'});
                });

            });
        });
    </script>
{% endblock %}
