{% trans_default_domain 'FOSUserBundle' %}
{#
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{{ form_widget(form) }}
<input class="btn btn-primary" type="submit" value="Registrarse"/>
{{ form_end(form) }}
#}
<form id="form" action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
    {{ form_errors(form)}}
    {{ form_row(form._token) }}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="email">Email</label>
                {{ form_widget(form.email,{ 'attr': {'class': 'form-control'} })}}
                <div class="form-error">{{ form_errors(form.email) | trans | raw }}</div>
            </div>
            {{ form_widget(form.username,{ 'attr': {'class': 'd-none'} })}}
            <div class="form-group">
                <label for="primerNombre">Nombre</label>
                {{ form_widget(form.primerNombre,{ 'attr': {'class': 'form-control'} })}}
            </div>
            {{ form_widget(form.plainPassword,{ 'attr': {'class': 'd-none'} })}}
            <div class="form-group">
                <label for="primerApellido">Apellido</label>
                {{ form_widget(form.primerApellido,{ 'attr': {'class': 'form-control'} })}}
            </div>
            {#            <div class="form-group">#}
            {#                <label for="nacimiento">Nacimiento</label>#}
            {#                <div class="d-flex flex-row justify-content-start">#}
            {#                {{ form_widget(form.nacimiento.day,{ 'attr': {'class': 'form-control', 'placeholder':'dia'} })}}#}
            {#                {{ form_widget(form.nacimiento.month,{ 'attr': {'class': 'form-control'} })}}#}
            {#                {{ form_widget(form.nacimiento.year,{ 'attr': {'class': 'form-control'} })}}#}
            {#                </div>#}
            {#            </div>#}
                <div class="form-group"> <label for="ciudad">Ciudad</label>
                {{ form_widget(form.ciudad,{ 'attr': {'class': 'form-control'} })}}
            </div>
            <div class="form-group">
                <label for="ciudad">Teléfono Móvil</label>
                {{ form_widget(form.telefonoMovil,{ 'attr': {'class': 'form-control'} })}}
            </div>
        </div>
    </div>
    <input id="registrar" class="btn btn-primary" type="submit" value="Registrarse"/>
</form>
<script>
    let pass = '{{ pass }}';
    $(document).ready(function () {
        $('#registrar').on('click', function (event) {
            event.preventDefault();
            $('#fos_user_registration_form_username').val($('#fos_user_registration_form_email').val());
            $('#fos_user_registration_form_plainPassword_first').val(pass);
            $('#fos_user_registration_form_plainPassword_second').val(pass);
            console.log('se envia con pass: ' + pass);
            $('#form').submit();
        });
    });
</script>
