{% extends "@FOSUser/layout.html.twig" %}
{% block stylesheets %}
    <style>
        img{
            -webkit-box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
            -moz-box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
            box-shadow: 3px 6px 9px 2px rgba(129,168,162,1);
            width: 80%;
        }
    </style>
{% endblock %}
{% block fos_user_content %}
    <div class="row mt-5">

        <section class="mt-5 col-md-6">
            <h2>Registro de proveedor</h2>
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        </section>
        <section class="col-md-6 mt-5">
            <img src="{{ asset('uploads/images/fondo.png') }}"/>
        </section>
    </div>
{% endblock fos_user_content %}
