{% extends 'public.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>Actualiza tu clave</h1>
            <p><strong>{{ usuario.primerNombre }}</strong> puedes realizar el cambio de clave</p>
            {{ form_start(form) }}
            <div class="error">
                {{ form_errors(form.password['first']) }}
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="nombre">Constraseña</label>
                        {{ form_widget(form.password['first'],{ 'attr': {'class': 'form-control', 'disabled':false} })}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="nombre">Repetir constraseña</label>
                        {{ form_widget(form.password['second'],{ 'attr': {'class': 'form-control', 'disabled':false} })}}
                    </div>
                </div>
            </div>
            <input type="submit" value="Actualizar clave" class="btn btn-primary"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
