{% extends 'base.html.twig' %}
{% block accion %}Modificar información del usuario{% endblock %}
{% block styleshets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block body %}
    <form id="form"  method="POST" class="col-md-8 fos_user_registration_register">
        {{ form_errors(edit_form)}}

        {{ form_row(edit_form._token) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
{#                    {{ form_widget(edit_form.email,{ 'attr': {'class': 'form-control disable'} })}}#}
                    <input class="form-control" value="{{ usuario.email }}" disabled/>
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Teléfono</label>
                    {{ form_widget(edit_form.telefonoMovil,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Nombres</label>
                    {{ form_widget(edit_form.primerNombre,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
            <div class="col-md-6 d-none">
                <div class="form-group">
                    <label for="email">segundoNombre</label>

                    {{ form_widget(edit_form.segundoNombre,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Apellidos</label>

                    {{ form_widget(edit_form.primerApellido,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
            <div class="col-md-6 d-none">

                <div class="form-group">
                    <label for="email">segundoApellido</label>

                    {{ form_widget(edit_form.segundoApellido,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Fecha de nacimiento</label>
{#                    {{ form_widget(edit_form.nacimiento,{ 'attr': {'class': ''} })}}#}
                    <div class="d-flex flex-row justify-content-start">
                        {{ form_widget(edit_form.nacimiento.day,{ 'attr': {'class': 'form-control', 'placeholder':'dia'} })}}
                        {{ form_widget(edit_form.nacimiento.month,{ 'attr': {'class': 'form-control'} })}}
                        {{ form_widget(edit_form.nacimiento.year,{ 'attr': {'class': 'form-control'} })}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Telefono Fijo</label>
                    {{ form_widget(edit_form.telefonoFijo,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Ciudad</label>
                    {{ form_widget(edit_form.ciudad,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Direccion</label>
                    {{ form_widget(edit_form.direccion,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
{#                <input class="btn btn-primary" type="submit" value="Guardar"/>#}
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Guardar</button>
{#                <a href="{{path('home')}}" class="btn btn-danger">Cancelar</a>#}
                <a href="{{ path('home') }}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Volver</span>
                </a>
            </div>
</div></form>{#
                                        
                                            {{ form_start(edit_form) }}
                                            {{ form_widget(edit_form) }}
                                            {% if(usuario.confirmationToken == 'user_registered') %}
                                                <h1>Primer acceso</h1>
                                            {% endif %}
                                        
                                            <input class="btn btn-primary" type="submit" value="Guardar"/><a href="{{path('home')}}" class="btn btn-danger">Cancelar</a>
                                            {{ form_end(edit_form) }}
                                        
                                            <!--<ul>
                                                                                            <li>
                                                                                                <a href="{{ path('usuario_index') }}">Back to the list</a>
                                                                                            </li>
                                                                                            <li>
                                                                                                {{ form_start(delete_form) }}
                                                                                                    <input type="submit" value="Delete">
                                                                                                {{ form_end(delete_form) }}
                                                                                            </li>
                                                                                        </ul>-->
                                        
                                        #}{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script
    <script type="text/javascript">
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}
