{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Primernombre</th>
                <th>Segundonombre</th>
                <th>Primerapellido</th>
                <th>Segundoapellido</th>
                <th>Nacimiento</th>
                <th>Telefonomovil</th>
                <th>Telefonofijo</th>
                <th>Imagen</th>
                <th>Direccion</th>
                <th>Apikey</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.primerNombre }}</td>
                <td>{{ usuario.segundoNombre }}</td>
                <td>{{ usuario.primerApellido }}</td>
                <td>{{ usuario.segundoApellido }}</td>
                <td>{% if usuario.nacimiento %}{{ usuario.nacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ usuario.telefonoMovil }}</td>
                <td>{{ usuario.telefonoFijo }}</td>
                <td>{{ usuario.imagen }}</td>
                <td>{{ usuario.direccion }}</td>
                <td>{{ usuario.apiKey }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_new') }}">Create a new usuario</a>
        </li>
    </ul>
{% endblock %}
