{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-8">
    <h1>Usuario creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    </div>
    <div class="col-md-4">
        <h1>MAPA</h1>
    </div>
</div>
    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
