{% extends 'public.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>Olvidé mi clave</h1>
            <p>Su clave ha sido renovada con éxito</p>
            <hr/>
            {{ form_start(form) }}
            <div class="error">
                {{ form_errors(form.email) }}
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="nombre">Email</label>
                        {{ form_widget(form.email,{ 'attr': {'class': 'form-control', 'disabled':false} })}}
                    </div>
                </div>
            </div>
            <input type="submit" value="Solicitar cambio" class="btn btn-primary"/>
            {{ form_end(form) }}
            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
