{% extends 'public.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>Recuperado</h1>
            <p>Estimad@
                {{usuario.primerNombre}}</p>
            <p>Su clave ha sido renovada con éxito</p>
            <hr/>

        </div>
    </div>
{% endblock %}
