{% extends 'public.html.twig' %}
{% block title %}Fresh Me App: Registro exitoso
{% endblock %}
{% block body %}
    <div>Se ha registrado con éxito</div>
    <hr/>
    <div>Un correo electrónico ha sido enviado a su cuenta</div>
{% endblock %}
