{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Primernombre</th>
                <td>{{ usuario.primerNombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ usuario.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Primerapellido</th>
                <td>{{ usuario.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundoapellido</th>
                <td>{{ usuario.segundoApellido }}</td>
            </tr>
            <tr>
                <th>Nacimiento</th>
                <td>{% if usuario.nacimiento %}{{ usuario.nacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telefonomovil</th>
                <td>{{ usuario.telefonoMovil }}</td>
            </tr>
            <tr>
                <th>Telefonofijo</th>
                <td>{{ usuario.telefonoFijo }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ usuario.imagen }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ usuario.direccion }}</td>
            </tr>
            <tr>
                <th>Apikey</th>
                <td>{{ usuario.apiKey }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
