{% extends 'base.html.twig' %}
{% block accion %}
    Citas programadas
{% endblock %}
{% block body %}
    <div class="col-md-6">
        <fieldset>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Servicio</th>
                        <th></th>
                        <th class="text-center">Horario</th>
                        <th class="text-center">Calificación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cita in citas %}
                        <tr>
                            <td>{{ cita.id }}{{ cita.usuario.primerNombre ~ ' ' ~ cita.usuario.primerApellido }}</td>
                            <td>{{ cita.servicio.nombre}}</td>
                            <td></td>
                            <td class="d-flex justify-content-around">
                                <div>
                                    {{ cita.fecha |date("j \\d\\e F-Y")}}
                                    {#{ cita.fecha |date("j \\d\\e F-Y")|replace({
                                                                                                            'May'  : 'Mayo',
                                                                                                            'June'   : 'Junio'
                                                                                                            })
                                                                                                        }}#}
                                </div>
                                <div>
                                    {{cita.horaInicio}}
                                </div>
                            </td>
                            <td class="text-center">

                                {% if (cita.calificacion > 0) %}
                                    {{cita.calificacion}}
                                {% else %}
                                    {% if (cita.estado == 1) %}
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-sm btn-secondary {% if cita.motivo == 'confirmado' %}active{% endif %}">
                                                <input type="radio" name="options" id="confirmado" data-id="{{ cita.id }}" autocomplete="off">
                                                Asitió
                                            </label>
                                            <label class="btn btn-sm btn-secondary {% if cita.motivo == 'no-asiste' %}active{% endif %}">

                                                <input type="radio" name="options" id="no-asiste" data-id="{{ cita.id }}" autocomplete="off">
                                                No asistió
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
    <div class="col-md-4 offset-1">
        <fieldset>
            <legend>
                <strong>{{negocio.nombre}}</strong>
            </legend>
            <dl>
                <dt>Horario de atención</dt>
                <dd>{{negocio.horarioInicio ~ ' a ' ~ negocio.horarioFin}}</dd>
                <hr/>
                <dt>Teléfono Fijo</dt>
                <dd>{{negocio.telefonoFijo}}</dd>
                <hr/>
                <dt>Teléfono Móvil</dt>
                <dd>{{negocio.telefonoMovil}}</dd>
            </dl>
            {#                <a href="{{ path('negocio_show') }}" class="btn btn-primary">Volver</a>#}
            <a href="{{ path('negocio_show') }}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-backward"></i>
                </span>
                <span class="text">Volver</span>
            </a>


        </fieldset>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link
    rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/default.min.css"/>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('label.btn').on('click', function () {
                $i = $(this).find('input');
                const txt = $i.attr('id');
                const id = $i.data('id');
                const estado = txt == 'confirmado' ? 'Asistió a la cita' : 'No asistió a la cita';
                $.ajax({
                    method: "PUT",
                    url: "../api/cita/confirmar/",
                    data: JSON.stringify(
                        {id: id, value: txt}
                    ),
                    dataType: "json"
                }).done(function (msg) {
                    alertify.alert('Se modificó el estado de la cita <br/> El cliente "' + estado + '"').set({title: 'Notificación'});
                }).fail(function () {
                    alert("error");
                });

            });
        });
    </script>
{% endblock %}
