{% extends 'base.html.twig' %}
{% block accion %} Agregar servicio {% endblock %}
{% block body %}
    <form id="form"  method="POST" class="col-md-8 fos_user_registration_register">
        {{ form_errors(form)}}

        {{ form_row(form._token) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Descripcion</label>
                    {{ form_widget(form.descripcion,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Costo</label>
                    {{ form_widget(form.costo,{ 'attr': {'class': 'form-control price', 'placeholder': 'Ej.: 25.15'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Guardar</button>
                <a href="{{ path('negocio_show') }}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Volver</span>
                </a>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {# http://jsfiddle.net/pmrotule/jcg6j5qr/ #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxPs6KpwT-u2REFhCO3eJYV_k4XslUs8o"></script>

<script>
    $(document).ready(function() {
        $('.price').mask('00.00');
    });
    </script>
{% endblock %}