{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servicio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ servicio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ servicio.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ servicio.descripcion }}</td>
            </tr>
            <tr>
                <th>Costo</th>
                <td>{{ servicio.costo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>
                    {% if servicio.activo %}Yes{% else %}No
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria_show', { 'id': servicio.categoria.id }) }}">Listado</a>
        </li>
        <li>
            <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
