{% extends 'base.html.twig' %}
{% block accion %}Modificar Categoría{% endblock %}
{% block body %}

    <form id="form"  method="POST" class="col-md-8">
        {{ form_errors(edit_form)}}
        {{ form_row(edit_form._token) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    {{ form_widget(edit_form.nombre,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Descripcion</label>
                    {{ form_widget(edit_form.descripcion,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Orden</label>
                    {{ form_widget(edit_form.orden,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Activo</label>
                    {{ form_widget(edit_form.activo,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Guardar</button>
                <a href="{{ path('negocio_show') }}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Volver</span>
                </a>
            </div>
        </div>
    </form>

    {#    <ul>#}
    {#        <li>#}
    {#            <a href="{{ path('categoria_index') }}">Back to the list</a>#}
    {#        </li>#}
    {#        <li>#}
    {#            {{ form_start(delete_form) }}#}
    {#            <input type="submit" value="Delete">#}
    {#            {{ form_end(delete_form) }}#}
    {#        </li>#}
    {#    </ul>#}
{% endblock %}
