{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>
                        <a href="{{ path('categoria_show', { 'id': categoria.id }) }}">{{ categoria.id }}</a>
                    </td>
                    <td>{{ categoria.nombre }}</td>
                    <td>{{ categoria.descripcion }}</td>
                    <td>{{ categoria.orden }}</td>
                    <td>
                        {% if categoria.activo %}Yes{% else %}No
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li><a href="{{ path('categoria_show', { 'id': categoria.id }) }}">show</a></li>
                            <li><a href="{{ path('categoria_edit', { 'id': categoria.id }) }}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li><a href="{{ path('categoria_new') }}">Create a new categoria</a></li>
    </ul>
{% endblock %}
