{% extends 'base.html.twig' %}
{% block accion %} Agregar categoría {% endblock %}
{% block body %}

    {#    {{ form_start(form) }}#}
    {#    {{ form_widget(form) }}#}
    <form id="form" action="{{ path('categoria_new') }}" method="POST" class="col-md-8 fos_user_registration_register">
        {{ form_errors(form)}}

        {{ form_row(form._token) }}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Descripcion</label>
                    {{ form_widget(form.descripcion,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Orden</label>
                    {{ form_widget(form.orden,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
                <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Activo</label>
                    {{ form_widget(form.activo,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Guardar</button>
                <a href="{{ path('negocio_show') }}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Volver</span>
                </a>
            </div>
        </div>
    </form>
    {#    {{ form_end(form) }}#}

{% endblock %}
