{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categoria</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoria.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categoria.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ categoria.descripcion }}</td>
            </tr>
            <tr>
                <th>Orden</th>
                <td>{{ categoria.orden }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>
                    {% if categoria.activo %}Yes{% else %}No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Servicios</th>
                <td>
                    {% for servicio in servicios %}
                        <div>
                            <span>{{ servicio.nombre }}</span>
                            <span>Bs./
                                {{ servicio.costo}}</span>
                        </div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('servicio_new', { 'categoriaId': categoria.id }) }}">Crear servicio</a>

            <a href="{{ path('categoria_edit', { 'id': categoria.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
