{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row mt-5">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="col-md-12 mt-5">
        <div class="row">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" class="btn btn-primary"/>
        {% endif %}
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">Nombre de usuario:</label>
                        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input autocomplete="current-password" class="form-control" id="password" name="_password" required="required" type="password"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <strong><a href="{{ path('usuario_olvide') }}">Olvidé mi contraseña</a></strong>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
        <!--<input id="remember_me" name="_remember_me" type="checkbox" value="on"/>
                                                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>-->
        <div class="col-md-6 my-4">
            <input class="btn btn-primary" id="_submit" name="_submit" type="submit" value="Ingresar"/>
        </div>
        </div>
    </form>
</div>
