{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="mt-5">
        <section class="mt-5">{{ include('@FOSUser/Security/login_content.html.twig') }}
        </section>
    </div>
{% endblock fos_user_content %}
