{% extends 'base.html.twig' %}
{% block accion %} Editar Tipo de Negocio {% endblock %}
{% block body %}
{#    {{ form_errors(edit_form)}}#}
    <form name="appbundle_negocio" method="post" enctype="multipart/form-data" class="col-md-4">
        {{ form_start(edit_form) }}
        {{ form_row(edit_form._token) }}
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    {{ form_widget(edit_form.nombre,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="nombre">Descripción</label>
                    {{ form_widget(edit_form.descripcion,{ 'attr': {'class': 'form-control','rows':'5'} })}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <labe>Logotipo (JPG file)</labe>
                <div class="custom-file">
                    {{ form_widget(edit_form.imagen,{ 'attr': {'class': 'custom-file-input', 'placeholder':'Ej.: 18:00'} })}}
                    <label class="custom-file-label" for="validatedCustomFile">Seleccionar archivo ...</label>
                    <div class="invalid-feedback">{{ form_errors(edit_form.imagen) }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-none">
                <div class="form-group">
                    <label for="nombre">Orden</label>
                    {{ form_widget(edit_form.orden,{ 'attr': {'class': 'form-control'} })}}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Activo</label>
                    <div class="form-check">
                        {{ form_widget(edit_form.activo,{ 'attr': {'class': 'form-check-input'} })}}
                        <label class="form-check-label" for="appbundle_tipo_activo">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div
                    class="col-md-12">

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Guardar</button>
                <a href="{{ path('super_admin') }}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Volver</span>
                </a>
            </div>
        </div>
{#        {{ form_widget(edit_form) }}#}
{#        {{ form_end(edit_form) }}#}
    </form>
{% endblock %}
