{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td><a href="{{ path('tipo_show', { 'id': tipo.id }) }}">{{ tipo.id }}</a></td>
                <td>{{ tipo.nombre }}</td>
                <td><img src="{{ asset('uploads/images/' ~ tipo.imagen) }}" width="45px"/></td>
                <td>{{ tipo.orden }}</td>
                <td>{% if tipo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipo_show', { 'id': tipo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipo_edit', { 'id': tipo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipo_new') }}">Create a new tipo</a>
        </li>
    </ul>
{% endblock %}
