{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo.nombre }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ tipo.imagen }}</td>
            </tr>
            <tr>
                <th>Orden</th>
                <td>{{ tipo.orden }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if tipo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipo_edit', { 'id': tipo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
