<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contraseña</title>
    </head>
    <body style="background: #FFF;">
        <div style="width: 600px; background: #DDD; text-align: center; padding: 0px;">Para generar su nueva clave ingrese al siguiente link</div>
        <a href="{{ url_site }}recuperar/{{ token }}">Recuperar clave</a>
    </body>
</html></li></body></html>
