<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registro de usuario</title>
    </head>
    <body style="background: #FFF;">
        <div style="width: 600px; background: #DDD; text-align: center; padding: 0px;">Su usuario ha sido registrado conéxito</div>
        <br/>
        <div>Su clave temporal es:
            <strong>{{password}}</strong>
        </div>
    </body>
</html></li></body></html>
