<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contraseña</title>
    </head>
    <body style="background: #FFF;">
        <div style="width: 600px; background: #DDD; text-align: center; padding: 0px;">Estimado usuario {{ nombre }}</div><br/>
        <div>Su registro en <strong>Fresh Me App</strong> se ha realizado con éxito</div><br/>
        <div>Para acceder a su configuración ingrese al link <a href="{{ url_site }}login">FreshMeApp</a></div><br/>
        <div>Usuario: {{ email }}</div><br/>
        <div>Contraseña: {{ password }}</div>
    </body>
</html></li></body></html>
