{% extends 'base.html.twig' %}

{% block body %}
    <h1>Negocios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Logo</th>
                <th>Calificacion</th>
                <th>Direccion</th>
                <th>Telefonomovil</th>
                <th>Telefonofijo</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Descripcion</th>
                <th>Horarioinicio</th>
                <th>Horariofin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for negocio in negocios %}
                <tr>
                    <td>
                        <a href="{{ path('negocio_show', { 'id': negocio.id }) }}">{{ negocio.id }}</a>
                    </td>
                    <td>{{ negocio.nombre }}</td>
                    <td>{{ negocio.logo }}</td>
                    <td>{{ negocio.calificacion }}</td>
                    <td>{{ negocio.principal ~ negocio.numeracion ~ negocio.secundaria}}</td>
                    <td>{{ negocio.telefonoMovil }}</td>
                    <td>{{ negocio.telefonoFijo }}</td>
                    <td>{{ negocio.latitud }}</td>
                    <td>{{ negocio.longitud }}</td>
                    <td>{{ negocio.descripcion }}</td>
                    <td>{{ negocio.horarioInicio }}</td>
                    <td>{{ negocio.horarioFin }}</td>
                    <td>
                        <ul>
                            <li><a href="{{ path('negocio_show', { 'id': negocio.id }) }}">show</a></li>
                            <li><a href="{{ path('negocio_edit', { 'id': negocio.id }) }}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li><a href="{{ path('negocio_new') }}">Create a new negocio</a></li>
    </ul>
{% endblock %}
