{% extends 'base.html.twig' %}
{% block accion %}
    Crear su negocio
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
<style>
    .custom-file-label::after{
        content: 'Buscar' !important;
    }
</style>
{% endblock %}

{% block body %}
    <form name="appbundle_negocio" method="post" enctype="multipart/form-data" class="col-md-5">
        {{ form_errors(form)}}
        {% if not form.vars.valid %}
        <div class="alert alert-danger">
        {% for children in form.children %}
            {% if not children.vars.valid %}
                {{ form_errors(children) }}

                {# or with field label
                <ul>
                    {% for error in children.vars.errors %}
                        <li><b>{{ children.vars.label }}</b>: {{ error.message }}</li>
                    {% endfor %}
                </ul>
                #}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {{ form_row(form._token) }}


        <div class="row">
            <div class="col-12">
                <fieldset>
                    <legend>Información general</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre">Tipo de establecimiento</label>
                                {{ form_widget(form.tipo,{ 'attr': {'class': 'form-control'} })}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre">Nombre del negocio</label>
                                {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control'} })}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label for="email">Descripción del negocio</label>

                                {{ form_widget(form.descripcion,{ 'attr': {'class': 'form-control','rows':4} })}}
                            </div>
                        </div>
                        <div class="col-5">
                            <label><strong>Horario de atención</strong></label>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Abierto</span>
                                </div>
                                {{ form_widget(form.horarioInicio,{ 'attr': {'class': 'time form-control', 'placeholder':'Ej.: 09:00'} })}}
                            </div><div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cerrado</span>
                                </div>
                                {{ form_widget(form.horarioFin,{ 'attr': {'class': 'time form-control', 'placeholder':'Ej.: 18:00'} })}}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                        <labe>Logotipo (JPG file)</labe>
                        <div class="custom-file">
                            {{ form_widget(form.logo,{ 'attr': {'class': 'custom-file-input', 'placeholder':'Ej.: 18:00'} })}}
                            <label class="custom-file-label" for="validatedCustomFile">Seleccionar archivo ...</label>
                            <div class="invalid-feedback">{{ form_errors(form.logo) }}</div>

                        </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-12">
                <fieldset>
                    <legend>Dirección del negocio</legend>
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="email">Calle principal</label>
                                {{ form_widget(form.principal,{ 'attr': {'class': 'form-control'} })}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="email">Numeración</label>
                                {{ form_widget(form.numeracion,{ 'attr': {'class': 'form-control'} })}}

                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="email">Calle secundaria</label>
                                {{ form_widget(form.secundaria,{ 'attr': {'class': 'form-control'} })}}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-12">
                <fieldset>
                    <legend>Teléfonos</legend>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="email"> Móvil</label>
                                {{ form_widget(form.telefonoMovil,{ 'attr': {'class': 'form-control cell','placeholder':'Ej.: 0989498297'} })}}

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="email">Fijo</label>
                                {{ form_widget(form.telefonoFijo,{ 'attr': {'class': 'form-control cell', 'placeholder':'Ej.: 0989498297'} })}}
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Latitud</label>
                    {{ form_widget(form.latitud,{ 'attr': {'class': 'form-control'} })}}

                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="email">Longitud</label>
                    {{ form_widget(form.longitud,{ 'attr': {'class': 'form-control'} })}}


                </div>
            </div>
        </div>
        <div class="row">
            <div
                    class="col-md-12">

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Guardar</button>
                <a href="{{ path('negocio_show') }}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Volver</span>
                </a>
            </div>
        </div>
    </form>
    <div class="col-md-6">
        <h2>Seleccione la ubicación de su negocio</h2>
        <div id="map" class="w-100 h-75"></div>
        <div id="test"></div>
    </div>
{% endblock %}


{% block javascripts %}
    {# http://jsfiddle.net/pmrotule/jcg6j5qr/ #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxPs6KpwT-u2REFhCO3eJYV_k4XslUs8o"></script>

    <script>
        $(document).ready(function(){
            $('.time').mask('00:00:00');
            $('.cell').mask('YZ0-0000-000', {
                translation: {
                    'Y': {
                        pattern: /0/, optional: true
                    },
                    'Z': {
                        pattern: /9/, optional: true
                    }
                }
            });
            const lat =  -16.492161124145014;
            const lng = -68.12152407586797;
            $('#appbundle_negocio_latitud').val(lat);
            $('#appbundle_negocio_longitud').val(lng);
            function initMap() {
                var myLatlng = {
                    lat: lat,
                    lng: lng
                };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: myLatlng
                });
                var marker = new google.maps.Marker({position: myLatlng, map: map});
                map.addListener('click', function (e) {
                    let lat = e.latLng.lat();
                    let lon = e.latLng.lng();
                    // document.getElementById('test').innerHTML = e.latLng;
                    // console.log(e.latLng);
                    $('#appbundle_negocio_latitud').val(lat);
                    $('#appbundle_negocio_longitud').val(lon);
                    marker.setPosition(e.latLng);
                });
            }
            initMap();
        });
    </script>
{% endblock %}
