{% extends 'base.html.twig' %}
{% block accion %} Información de negocio <strong>"{{ negocio.nombre }}"</strong>{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="http://nashio.github.io/star-rating-svg/src/css/star-rating-svg.css"/>
{% endblock %}
{% block body %}
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <fieldset>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <dl>
                                            <dt>Nombre</dt>
                                            <dd>{{negocio.nombre}}</dd>
                                        </dl>
                                    </td>
                                    <td>
                                        <dl>
                                            <dt>Horario de atención</dt>
                                            <dd>{{negocio.horarioInicio ~ ' a ' ~ negocio.horarioFin}}</dd>
                                        </dl>
                                    </td>
                                    <td>
                                        <dl>
                                            <dt>Calificación</dt>
                                            <dd>
                                                <div class="d-flex align-content-center">
                                                    <div class="my-rating-4" data-rating="{{ negocio.calificacion }}"></div>
                                                    <span class="ml-2 pt-1 text-gray-500">{{ negocio.calificacion | number_format(1, '.', ',') }}</span>
                                                </div>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <dl>
                                            <dt>Descripción</dt>
                                            <dd>{{negocio.descripcion}}</dd>
                                        </dl>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Calle pincipal</th>
                                <th>Numeración</th>
                                <th>Calle secundaria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{negocio.principal}}</td>
                                <td>{{negocio.numeracion}}</td>
                                <td>{{negocio.secundaria}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Teléfono Fijo</th>
                                <th>Teléfono Móvil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{negocio.telefonoFijo}}</td>
                                <td>{{negocio.telefonoMovil}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 text-center">
                    <img class="nego-logo-show mb-2" src="{{ asset('uploads/images/' ~ negocio.logo) }}"/>
{#                    <a href="{{ path('negocio_edit',{'id':negocio.id}) }}" class="btn btn-primary">Editar información</a>#}
                    <a href="{{ path('negocio_edit',{'id':negocio.id}) }}" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Editar información</span>
                    </a>
                    <hr/>
{#                    <a href="{{ path('cita_negocio') }}" class="btn btn-danger">Mostrar citas</a>#}
                    <a href="{{ path('cita_negocio') }}" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="text">Mostrar citas</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <fieldset class="col-md-12">
                <legend>Servicios ofertados</legend>
{#                <a href="{{ path('categoria_new')}}" class="btn btn-sm btn-success">Agregar categoría</a>#}
                <a href="{{ path('categoria_new')}}" class="btn btn-sm btn-warning btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Agregar categoría</span>
                </a>
                <dl class="listado-servicios">
                    {% for categoria in categorias %}
                        <dt>Categoria:
                            {{ categoria.nombre }}
                            <a class="badge badge-default" href="{{ path('categoria_edit',{'id':categoria.id}) }}">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                        </dt>

                        {% for servicio in categoria.servicios %}
                            <dd>
                                <a class="badge badge-default" href="{{ path('servicio_edit',{'id':servicio.id}) }}">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                {{ servicio.nombre }}
                                <strong>Bs./
                                    {{servicio.costo}}</strong>

                            </dd>
                        {% endfor %}
                        <dd>
{#                            <a href="{{ path('servicio_new',{'categoriaId':categoria.id}) }}" class="btn btn-sm btn-primary">Agregar servicio</a>#}
                            <a href="{{ path('servicio_new',{'categoriaId':categoria.id}) }}" class="btn btn-sm btn-secondary btn-icon-split">
                                <span class="icon text-white-50">
                                  <i class="fas fa-arrow-right"></i>
                                </span>
                                <span class="text">Agregar servicio</span>
                            </a>
                        </dd>
                    {% endfor %}
                </dl>
            </fieldset>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="http://nashio.github.io/star-rating-svg/src/jquery.star-rating-svg.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".my-rating-4").starRating({
                readOnly: true,
                starSize: 20
            });
        });
    </script>
{% endblock %}
